%% -*- mode: erlang -*-

{require_min_otp_vsn, "22"}.

{erl_opts, [
    {parse_transform, lager_transform}
]}.

{deps, [
    {ranch, "1.8.0"},
    {lager, "3.9.2"}
 ]}.

{plugins, []}.

{xref_checks, [undefined_function_calls,
               locals_not_used,
               deprecated_function_calls]}.
