%% -*- mode: erlang -*-

{require_min_otp_vsn, "18"}.

{erl_opts, [
    {parse_transform, lager_transform},

    %% OTP version specific defines
    {platform_define, "^(19|2)", rand_only},
    {platform_define, "^(R|1|20)", fun_stacktrace}
]}.

{deps, [
    {ranch, "1.4.0"},
    {lager, "3.6.10"}
 ]}.

{plugins, []}.

{xref_checks, [undefined_function_calls,
               locals_not_used,
               deprecated_function_calls]}.
