%% -*- mode: erlang -*-

{require_min_otp_vsn, "22"}.

{erl_opts, [
    {parse_transform, lager_transform},
    debug_info
]}.


{deps, [
    zotonic_core,
    {ranch, "1.8.0"}
 ]}.

{plugins, []}.

{xref_checks, [undefined_function_calls,
               locals_not_used,
               deprecated_function_calls]}.
