[submodule "deps/webzmachine"]
	path = deps/webzmachine
	url = git://github.com/mmzeeman/webzmachine.git
[submodule "deps/gen_smtp"]
	path = deps/gen_smtp
	url = git://github.com/zotonic/gen_smtp.git
[submodule "deps/lager"]
	path = deps/lager
	url = git://github.com/basho/lager.git
[submodule "deps/ua_classifier"]
	path = deps/ua_classifier
	url = git://github.com/zotonic/ua_classifier.git
[submodule "deps/dh_date"]
	path = deps/dh_date
	url = git://github.com/zotonic/dh_date.git
[submodule "deps/mimetypes"]
	path = deps/mimetypes
	url = git://github.com/zotonic/mimetypes.git
[submodule "deps/bert.erl"]
	path = deps/bert.erl
	url = git://github.com/zotonic/bert.erl.git
[submodule "deps/z_stdlib"]
	path = deps/z_stdlib
	url = git://github.com/zotonic/z_stdlib.git
[submodule "deps/bear"]
	path = deps/bear
	url = git://github.com/boundary/bear.git
[submodule "deps/folsom"]
	path = deps/folsom
	url = git://github.com/boundary/folsom.git
[submodule "deps/meck"]
	path = deps/meck
	url = git://github.com/eproxus/meck
