.DS_Store
zotonic.pid
zotonic.tmproj
erl_crash.dump
ttb_last_config
rebar3

*~

*.orig
*.beam
*.o
*.lo
*.la
*.lai
*.so
*.Plo
*.wmtrace
*.swp
*.mo

ebin/
deps/

/priv/*.config

/priv/filezcache
/priv/log/
/priv/mnesia/
/priv/sites/default/files/
/priv/modules/
/priv/translations/template/
/priv/translations/zotonic.pot

/priv/ssl/

/modules/*/translations/template/*.pot

/user
/user/*

.rebar
_build
_checkouts
/log/
compile_commands.json
