.DS_Store
zotonic.pid
zotonic.tmproj
erl_crash.dump

*~

*.orig
*.beam
*.o
*.lo
*.la
*.lai
*.so
*.Plo
*.wmtrace
*.swp
*.mo

ebin/

/deps/mochiweb/doc/
/deps/mochiweb/.eunit/

/src/erlydtl/erlydtl_parser.erl
/src/tests/erlydtl/rendered_output/

/priv/config
/priv/erlang.config
/priv/sites/*/config

/priv/log/
/priv/sasl/
/priv/sites/default/files/
/priv/sites/*/files/dropbox/
/priv/sites/*/files/preview/
/priv/sites/*/files/processing/
/priv/sites/*/files/unhandled/
/priv/modules/
