[submodule "deps/webzmachine"]
	path = deps/webzmachine
	url = git://github.com/zotonic/webzmachine.git
[submodule "deps/gen_smtp"]
	path = deps/gen_smtp
	url = git://github.com/zotonic/gen_smtp.git
[submodule "deps/lager"]
	path = deps/lager
	url = git://github.com/basho/lager.git
