zotonic.pid

ttb_last_config
erl_crash.dump

.rebar
rebar3
rebar3.crashdump
compile_commands.json

*~
*#

*.orig
*.beam
*.o
*.lo
*.la
*.lai
*.so
*.Plo
*.wmtrace
*.swp
*.mo

priv/*.config
priv/filezcache

/priv/log/*
!/priv/log/.empty

apps/*/priv/ssl/
priv/ssl/

priv/mnesia
apps/zotonic_core/priv/mnesia/

apps/*/priv/files/archive/*
!/apps/zotonic_site_testsandbox/priv/files/archive/koe.jpg

priv/translations/template/*.pot
apps/*/priv/translations/template/*.pot
!apps/zotonic_core/priv/translations/zotonic.pot

apps/*/priv/lib/cotonic/
apps/*/priv/lib-src/cotonic/

/user/*

_build
_checkouts
/log/

.DS_Store
zotonic.tmproj
