version: '3.1'

services:
    postgres:
        image: postgres:11.6-alpine
        hostname: postgres
        restart: always
        environment:
            POSTGRES_USER: =zotonic
            POSTGRES_DB: zotonic
            POSTGRES_PASSWORD: zotonic
        volumes:
            - pgdata:/var/lib/postgresql/data

    zotonic:
        image: zotonic/zotonic-dev
        environment:
           ZOTONIC_PORT: 8000
           ZOTONIC_SSL_PORT: 8443
           ZOTONIC_APPS: /opt/zotonic/apps_user
        depends_on:
            - postgres
        volumes:
            - ./:/opt/zotonic
        ports:
           - 8000:8000
           - 8443:8443

volumes:
    pgdata:
