version: '3.1'

services:
    postgres:
        image: postgres:11.6-alpine
        hostname: postgres
        restart: always
        environment:
            POSTGRES_USER: zotonic
            POSTGRES_DB: zotonic
            POSTGRES_PASSWORD: zotonic
        volumes:
            - pgdata:/var/lib/postgresql/data
        ports:
            - '${DB_FORWARD_PORT:-5432}:5432'

    zotonic:
        build:
            dockerfile: Dockerfile.dev
            context: .
        environment:
            ZOTONIC_PORT: 8000
            ZOTONIC_SSL_PORT: 8443
            ZOTONIC_APPS: /opt/zotonic/apps_user
        depends_on:
            - postgres
        volumes:
            - ./:/opt/zotonic:delegated
        ports:
            - 8000:8000
            - 8443:8443

volumes:
    pgdata:
