[
    {elvis, [
        {config, [
            #{
                %% dirs => ["src", "include", "modules"],
                %% filter => ["*/*.erl"],
                dirs => ["src/models", "src"],
                filter => ["*.erl"],
                rules => [
                    {elvis_style, line_length, #{limit => 110}},
                    {elvis_style, nesting_level, #{level => 6}},
                    {elvis_style, used_ignored_variable, disable},
                    {elvis_style, no_spec_with_records, disable},
                    {elvis_style, dont_repeat_yourself, #{min_complexity => 50}},
                    {elvis_style, function_naming_convention, #{regex => "^([a-z][a-z0-9]*_?[0-9]*)*$"}},
                    %% for eunit tests: https://github.com/inaka/elvis/issues/403
                    {elvis_style, variable_naming_convention, #{regex => "^(_[A-Z])|([A-Z][0-9a-zA-Z]*)$"}},
                    {elvis_style, no_debug_call, #{ignore => [zotonic]}},
                    {elvis_style, invalid_dynamic_call, #{ignore => [
                        mod_survey,
                        z_code_reloader,
                        z_db,
                        z_db_pool,
                        z_filewatcher_sup,
                        z_validation]
                    }},
                    {elvis_style, god_modules, #{limit => 50}}
                ],
                ruleset => erl_files
            }
        ]}
    ]}
].
