[
    {elvis, [
        {config, [
            #{
                dirs => ["src", "include", "modules"],
                filter => "*.erl",
                rules => [
                    {elvis_style, line_length, #{limit => 100}}
                ],
                ruleset => erl_files
            }
        ]}
    ]}
].
