# See https://erlang-ls.github.io/configuration/
apps_dirs:
- "apps/*"
- "apps_user/*"
- "_checkouts/*"
- "lib/*"
- "_build/default/lib/*"
deps_dir:
- "_build/default/lib/*"
include_dirs:
- "apps"
- "apps_user"
- "_checkouts"
- "apps/*/include"
- "_build/default/lib"
- "_build/default/lib/"
- "_build/default/lib/*/include"
- "include"
- "lib"
- "lib/*/include"
lenses:
  enabled:
    - ct-run-test
diagnostics:
  enabled:
    - crossref
  disabled:
    - dialyzer
