%% -*- mode: erlang -*-
{erl_opts,
 [{i, "include"},
  {i, "src/dbdrivers/postgresql/include"},
  {i, "deps/webzmachine/include"},
  {parse_transform, lager_transform},
  {src_dirs,
   ["src",
    "modules",
    "priv/modules",
    "priv/extensions",
    "priv/sites"]
  }
 ]
}.

{deps,
 [
  {lager, "1.2.2", {git, "git://github.com/basho/lager.git", {tag, "1.2.2"}}},
  {bert, ".*", {git, "git://github.com/zotonic/bert.erl.git", "master"}},
  {dh_date, ".*", {git, "git://github.com/zotonic/dh_date.git", "master"}},
  {eiconv, ".*", {git, "git://github.com/zotonic/eiconv.git", "master"}},
  {gen_smtp, ".*", {git, "git://github.com/zotonic/gen_smtp.git", "master"}},
  {mimetypes, ".*", {git, "git://github.com/zotonic/mimetypes.git", "master"}},
  {mochiweb, ".*", {git, "git://github.com/zotonic/mochiweb.git", "master"}},
  {ua_classifier, ".*", {git, "git://github.com/zotonic/ua_classifier.git", "master"}},
  {webzmachine, ".*", {git, "git://github.com/zotonic/webzmachine.git", "master"}},
  {z_stdlib, ".*", {git, "git://github.com/zotonic/z_stdlib.git", "master"}},
  {bear, ".*", {git, "git://github.com/boundary/bear.git", "master"}},
  {folsom, ".*", {git, "git://github.com/boundary/folsom.git", "master"}},
  {meck, ".*", {git, "git://github.com/eproxus/meck.git", "master"}}
 ]
}.
