%% -*- mode: erlang -*-

{require_min_otp_vsn, "18"}.

{erl_opts, [
  {parse_transform, lager_transform},
  {platform_define, "^[0-9]+", namespaced_dicts}
]}.

{deps,
 [
  {lager, "3.2.1"},
  % {depcache, "1.2.2"},
  {bert, "0.1.0"},
  {poolboy, "1.5.1"},
  {epgsql, "3.1.1"},
  {erlware_commons, "0.21.0"},
  {erlang_localtime, "1.0.0"},
  {gproc, "0.5.0"},
  % {parse_trans, "2.9.0"},
  {proper, "1.1.1-beta"},
  {recon, "2.3.1"},
  {meck, "0.8.4"},
  {edown, "0.7.0"},
  {shotgun, "0.3.0"},

  {depcache, ".*", {git, "https://github.com/zotonic/depcache.git", {branch, "master"}}},

  {parse_trans, ".*", {git, "https://github.com/uwiger/parse_trans.git", {tag, "3.0"}}},
  % {edown, ".*", {git, "https://github.com/uwiger/edown.git", {tag, "0.8"}}},

  {dh_date, ".*", {git, "https://github.com/zotonic/dh_date.git", {branch, "master"}}},
  {eiconv, ".*", {git, "https://github.com/zotonic/eiconv.git", {branch, "master"}}},
  {gen_smtp, ".*", {git, "https://github.com/Vagabond/gen_smtp.git", {tag, "0.12.0"}}},
  {mimetypes, ".*", {git, "https://github.com/zotonic/mimetypes.git", {branch, "master"}}},
  {mochiweb, ".*", {git, "https://github.com/zotonic/mochiweb.git", {branch, "master"}}},
  {dispatch_compiler, ".*", {git, "https://github.com/zotonic/dispatch_compiler.git", {branch, "master"}}},
  {template_compiler, ".*", {git, "https://github.com/zotonic/template_compiler.git", {branch, "master"}}},
  {z_stdlib, ".*", {git, "https://github.com/zotonic/z_stdlib.git", {branch, "master"}}},
  {exometer, ".*", {git, "https://github.com/Feuerlabs/exometer.git", {branch, "master"}}},
  {filezcache, ".*", {git, "https://github.com/mworrell/filezcache.git", {branch, "master"}}},
  {s3filez, ".*", {git, "https://github.com/mworrell/s3filez.git", {branch, "master"}}},
  {diffy, ".*", {git, "https://github.com/mmzeeman/diffy.git", {branch, "master"}}},
  {jobs, ".*", {git, "https://github.com/uwiger/jobs.git", {branch, "master"}}},
  {emqtt, ".*", {git, "https://github.com/zotonic/emqtt.git", {branch, "zotonic"}}},
  {qdate, ".*", {git, "https://github.com/choptastic/qdate.git", {branch, "master"}}},
  {exif, ".*", {git, "https://github.com/nlfiedler/erlang-exif.git", {branch, "master"}}},
  {twerl, ".*", {git, "https://github.com/mworrell/twerl.git", {branch, "refactoring"}}},
  {syslog, ".*", {git, "https://github.com/Vagabond/erlang-syslog.git", {branch, "master"}}},
  {cowmachine, ".*", {git, "https://github.com/zotonic/cowmachine.git", {branch, "master"}}},
  {ranch, ".*", {git, "https://github.com/ninenines/ranch.git", {branch, "master"}}},
  {bcrypt, ".*", {git, "https://github.com/smarkets/erlang-bcrypt", {branch, "master"}}},
  {erlpass, ".*", {git, "https://github.com/ferd/erlpass.git", {branch, "master"}}},
  {sidejob, ".*", {git, "https://github.com/mworrell/sidejob.git", {branch, "develop"}}},
  {letsencrypt, ".*", {git, "https://github.com/zotonic/letsencrypt-erlang.git", {branch, "multi-server"}}},

  % Lock jiffy at the rebar3 support commit (till there is a release)
  {jiffy, ".*", {git, "https://github.com/davisp/jiffy.git", {ref, "a7db72493d2288533afbb417d5c2e6f11db84639"}}}
 ]
}.

{plugins, [pc]}.

{overrides,
 [{override, syslog, [
     {plugins, [pc]},
     {artifacts, ["priv/syslog_drv.so"]},
     {provider_hooks, [
         {post,
             [
             {compile, {pc, compile}},
             {clean, {pc, clean}}
             ]
          }]
      }
  ]}
]}.

{xref_checks, [undefined_function_calls,
               locals_not_used,
               deprecated_function_calls]}.
