%% -*- mode: erlang -*-

{require_min_otp_vsn, "18"}.

{erl_opts, [
  {parse_transform, lager_transform},

  %% When you add patform defines, make sure they are picked up in zotonic_compile.erl
  {platform_define, "^([0-9]+)", namespaced_dicts},
  {platform_define, "^([0-9]+|R16)", coding_utf8},
  {platform_define, "^(R16|17)", no_ssl},
  {platform_define, "^R16", lists_nofiltermap},
  {platform_define, "^(19|2)", rand_only},
  {platform_define, "^(R|1|20)", fun_stacktrace}
 ]
}.

{deps,
 [
  {edown, ".*", {git, "https://github.com/uwiger/edown.git", {tag, "0.8.1"}}},
  {lager, ".*", {git, "git://github.com/basho/lager.git", {tag, "3.2.1"}}},
  {certifi, ".*", {git, "https://github.com/certifi/erlang-certifi.git", {tag, "2.5.1"}}},
  {rebar_lock_deps_plugin, ".*", {git, "git://github.com/seth/rebar_lock_deps_plugin.git", {branch, "master"}}},
  {erlware_commons,  ".*", {git, "git://github.com/erlware/erlware_commons.git", {tag, "v1.3.0"}}},
  {depcache, ".*", {git, "git://github.com/zotonic/depcache.git", {branch, "master"}}},
  {bert, ".*", {git, "git://github.com/zotonic/bert.erl.git", {branch, "master"}}},
  {dh_date, ".*", {git, "git://github.com/zotonic/dh_date.git", {branch, "master"}}},
  {eiconv, ".*", {git, "git://github.com/zotonic/eiconv.git", {branch, "master"}}},
  {gen_smtp, ".*", {git, "git://github.com/Vagabond/gen_smtp.git", {tag, "0.12.0"}}},
  {mimetypes, ".*", {git, "git://github.com/zotonic/mimetypes.git", {branch, "master"}}},
  {mochiweb, ".*", {git, "git://github.com/zotonic/mochiweb.git", {branch, "master"}}},
  {dispatch_compiler, ".*", {git, "git://github.com/zotonic/dispatch_compiler.git", {branch, "master"}}},
  {ua_classifier, ".*", {git, "git://github.com/zotonic/ua_classifier.git", {branch, "master"}}},
  {webzmachine, ".*", {git, "git://github.com/zotonic/webzmachine.git", {branch, "master"}}},
  {z_stdlib, ".*", {git, "git://github.com/zotonic/z_stdlib.git", {branch, "0.x"}}},
  {parse_trans, ".*", {git, "git://github.com/uwiger/parse_trans.git", {tag, "3.3.0"}}},
  {exometer_core, ".*", {git, "git://github.com/Feuerlabs/exometer_core.git", {tag, "1.5.0"}}},
  {sendfile, ".*", {git, "git://github.com/tuncer/sendfile.git", {branch, "master"}}},
  {filezcache, ".*", {git, "git://github.com/mworrell/filezcache.git", {branch, "master"}}},
  {s3filez, ".*", {git, "git://github.com/mworrell/s3filez.git", {branch, "master"}}},
  {proper, ".*", {git, "git://github.com/manopapad/proper.git", {branch, "master"}}},
  {diffy, ".*", {git, "https://github.com/mmzeeman/diffy.git", {branch, "master"}}},
  {goldrush, ".*", {git, "git://github.com/DeadZen/goldrush.git", {tag, "0.1.6"}}},
  {jobs, ".*", {git, "git://github.com/uwiger/jobs.git", {tag, "0.7.1"}}},
  {gproc, ".*", {git, "git://github.com/uwiger/gproc.git", {branch, "master"}}},
  {emqtt, ".*", {git, "git://github.com/zotonic/emqtt.git", {branch, "zotonic"}}},
  {poolboy,   ".*",   {git, "git://github.com/devinus/poolboy.git", {tag, "1.5.1"}}},
  {epgsql,   ".*",   {git, "git://github.com/epgsql/epgsql.git", {tag, "2.0.0"}}},
  {qdate, ".*", {git, "https://github.com/choptastic/qdate.git", {branch, "master"}}},
  {cf, ".*", {git, "git://github.com/project-fifo/cf.git", {branch, "master"}}},
  {erlang_localtime, ".*", {git, "git://github.com/dmitryme/erlang_localtime.git", {branch, master}}},
  {recon, ".*", {git, "git://github.com/ferd/recon.git", {branch, "2.x"}}},
  {exif, ".*", {git, "git://github.com/nlfiedler/erlang-exif.git", {branch, "master"}}},
  {termit, ".*", {git, "https://github.com/erlangpack/termit", {branch, "master"}}},
  {bcrypt, ".*", {git, "https://github.com/erlangpack/bcrypt", {branch, "master"}}},
  {erlpass, ".*", {git, "https://github.com/ferd/erlpass.git", {branch, "master"}}},
  {folsom, ".*", {git, "git://github.com/folsom-project/folsom.git", {tag, "0.8.7"}}},

  % mod_geoip
  {locus, ".*", {git, "https://github.com/g-andrade/locus.git", {tag, "1.6.2"}}},
  {stacktrace_compat, ".*", {git, "https://github.com/g-andrade/stacktrace_compat.git", {tag, "1.0.2"}}},
  {ssl_verify_fun, ".*", {git, "https://github.com/deadtrickster/ssl_verify_fun.erl.git", {tag, "1.1.4"}}}
 ]
}.

{plugin_dir, "deps/rebar_lock_deps_plugin/src"}.
{plugins, [rebar_lock_deps_plugin]}.

{xref_checks, [undefined_function_calls,
               locals_not_used,
               deprecated_function_calls]}.

