#cloud-config for Ubuntu 18
#
# Example configs here:
# https://cloudinit.readthedocs.io/en/latest/topics/examples.html
#
# Add groups to the system
groups:
  - ubuntu: [root,sys]

# Add users to the system. Users are added after groups are added.
users:
  - default
  - name: zotonic
    gecos: Zotonic
    sudo: false
    lock_passwd: true
    shell: /bin/bash
    # ssh_authorized_keys:
    #   - <ssh pub key 1>
    #   - <ssh pub key 2>

packages:
  - build-essential
  - iptables-persistent
  - libssl-dev
  - automake
  - autoconf
  - libncurses5-dev
  - git
  - erlang
  - postgresql
  - postgresql-client
  - curl
  - gettext
  - inotify-tools
  - libnotify-bin
  - clamav
  - clamav-daemon
  - ghostscript
  - imagemagick
  - ffmpeg

runcmd:
  # IP4 port mapping
  - iptables -t nat -A PREROUTING -p tcp --dport 80 -j REDIRECT --to 8000
  - iptables -t nat -A PREROUTING -p tcp --dport 443 -j REDIRECT --to 8443
  - iptables -t nat -A PREROUTING -p tcp --dport 25 -j REDIRECT --to 2525
  - iptables -t nat -A OUTPUT -p tcp -d `/sbin/ifconfig eth0 | grep ' inet ' | awk '{ print $2 }'` --dport 80 -j REDIRECT --to 8000
  - iptables -t nat -A OUTPUT -p tcp -d `/sbin/ifconfig eth0 | grep ' inet ' | awk '{ print $2 }'` --dport 443 -j REDIRECT --to 8443
  - iptables -t nat -A OUTPUT -p tcp -d `/sbin/ifconfig eth0 | grep ' inet ' | awk '{ print $2 }'` --dport 25 -j REDIRECT --to 2525
  - iptables-save > /etc/iptables/rules.v4
  # IP6 port mapping
  - ip6tables -t nat -A PREROUTING -p tcp --dport 80 -j REDIRECT --to 8000
  - ip6tables -t nat -A PREROUTING -p tcp --dport 443 -j REDIRECT --to 8443
  - ip6tables -t nat -A PREROUTING -p tcp --dport 25 -j REDIRECT --to 2525
  - ip6tables -t nat -A OUTPUT -p tcp -d `/sbin/ifconfig eth0 | grep ' inet6 ' | head -1 | awk '{ print $2 }'` --dport 80 -j REDIRECT --to 8000
  - ip6tables -t nat -A OUTPUT -p tcp -d `/sbin/ifconfig eth0 | grep ' inet6 ' | head -1 | awk '{ print $2 }'` --dport 443 -j REDIRECT --to 8443
  - ip6tables -t nat -A OUTPUT -p tcp -d `/sbin/ifconfig eth0 | grep ' inet6 ' | head -1 | awk '{ print $2 }'` --dport 25 -j REDIRECT --to 2525
  - ip6tables-save > /etc/iptables/rules.v6
  # Postgres installation
  - sudo --user=postgres -- psql -c "CREATE USER zotonic WITH PASSWORD 'zotonic';"
  - sudo --user=postgres -- psql -c "CREATE DATABASE zotonic WITH OWNER = zotonic ENCODING = 'UTF8';"
  - sudo --user=postgres -- psql -c "GRANT ALL ON DATABASE zotonic TO zotonic;"
  # Set ulimit file handles
  - echo "zotonic   soft   nofile   20000" > /etc/security/limits.d/zotonic.conf
  - echo "zotonic   hard   nofile   20000" >> /etc/security/limits.d/zotonic.conf
  # Fix openssl config
  - sed -i 's/^.*RANDFILE.*$/# &1/g' /etc/ssl/openssl.cnf
  # Enable ImageMagick PDF rendering
  - sed -i 's/^.*pattern="PDF".*$/<!-- &1 -->/g' /etc/ImageMagick-6/policy.xml
  # Let clamav listen on localhost and update definitions
  - systemctl stop clamav-freshclam
  - sed -i '1s/^/# For Zotonic listen on localhost\nTCPSocket 3310\nTCPAddr 127.0.0.1\n\n/' /etc/clamav/clamd.conf
  - freshclam
  - systemctl start clamav-freshclam
  # Generate ssh key for git urls
  - sudo su zotonic -l -c "ssh-keygen -q -f /home/zotonic/.ssh/id_rsa -N ''"
  # Zotonic installation
  - sudo su zotonic -l -c "git clone 'https://github.com/zotonic/zotonic'"
  - sudo su zotonic -l -c "cd zotonic; git checkout 2292-cloudinit"
  - sudo su zotonic -l -c "mkdir -p .zotonic/1/config.d"
  - sudo su zotonic -l -c "cp cloud-init/config.d/* .zotonic/1/config.d/."
  - sudo su zotonic -l -c "cd zotonic; make"
  - sudo su zotonic -l -c "cd zotonic; bin/zotonic start"
