#cloud-config for Ubuntu 24
#
# Example configs here:
# https://cloudinit.readthedocs.io/en/latest/topics/examples.html
#
# Add groups to the system
groups:
  - ubuntu: [root,sys]

# Add users to the system. Users are added after groups are added.
users:
  - default
  - name: zotonic
    gecos: Zotonic
    sudo: null
    lock_passwd: true
    shell: /bin/bash
    # ssh_authorized_keys:
    #   - <ssh pub key 1>
    #   - <ssh pub key 2>

packages:
  - build-essential
  - libcap2-bin
  - libssl-dev
  - automake
  - autoconf
  - ncurses-dev
  - zlib1g-dev
  - git
  - postgresql
  - postgresql-client
  - curl
  - gettext
  - inotify-tools
  - libnotify-bin
  - clamav
  - clamav-daemon
  - ghostscript
  - file
  - imagemagick
  - ffmpeg
  - xvfb
  - wkhtmltopdf

runcmd:
  - apt update
  # Use kerl to install a good and recent version of Erlang
  - curl -O https://raw.githubusercontent.com/kerl/kerl/master/kerl
  - chmod a+x kerl
  - mv kerl /usr/local/bin/kerl
  - mkdir -p /usr/local/lib/erlang
  - /usr/local/bin/kerl update releases
  - /usr/local/bin/kerl build 27.3.4
  - /usr/local/bin/kerl install 27.3.4 /usr/local/lib/erlang/27.3.4
  - echo ". /usr/local/lib/erlang/27.3.4/activate" >> /etc/profile
  - echo "export REBAR_CACHE_DIR=~/.cache/rebar3" >> /etc/profile
  # Allow Erlang (beam.smp) to listen on restricted ports (below 1024)
  - setcap 'cap_net_bind_service=+ep' /usr/local/lib/erlang/27.3.4/erts-*/bin/beam.smp
  # Restrict epmd listen IP addresses
  - echo "ERL_EPMD_ADDRESS=127.0.0.1,127.0.1.1" >> /etc/environment
  # Postgres installation
  - sudo --user=postgres -- psql -c "CREATE USER zotonic WITH PASSWORD 'zotonic';"
  - sudo --user=postgres -- psql -c "CREATE DATABASE zotonic WITH OWNER = zotonic ENCODING = 'UTF8';"
  - sudo --user=postgres -- psql -c "GRANT ALL ON DATABASE zotonic TO zotonic;"
  # Set ulimit file handles
  - echo "zotonic   soft   nofile   60000" > /etc/security/limits.d/zotonic.conf
  - echo "zotonic   hard   nofile   60000" >> /etc/security/limits.d/zotonic.conf
  # Max inotify files setting
  - sudo echo "fs.inotify.max_user_watches=10000" > /etc/sysctl.d/40-max-user-watches.conf
  # Enable ImageMagick PDF rendering
  - sed -i 's/^.*pattern="PDF".*$/<!-- &1 -->/g' /etc/ImageMagick-6/policy.xml
  # Let clamav listen on localhost and update definitions
  - service clamav-daemon stop
  - systemctl stop clamav-freshclam
  - sed -i '1s/^/# For Zotonic listen on localhost\nTCPSocket 3310\nTCPAddr 127.0.0.1\n\n/' /etc/clamav/clamd.conf
  - sed -i 's/^LocalSocket.*$/# &1/g' /etc/clamav/clamd.conf
  - freshclam
  - systemctl start clamav-freshclam
  - service clamav-daemon start
  # Generate ssh key for git urls
  - sudo su zotonic -l -c "ssh-keygen -q -f /home/zotonic/.ssh/id_rsa -N ''"
  # Zotonic installation
  - sudo su zotonic -l -c "git clone 'https://github.com/zotonic/zotonic'"
  - sudo su zotonic -l -c "mkdir -p .config/zotonic/config/1/config.d"
  - sudo su zotonic -l -c "cp zotonic/cloud-init/config.d/* .config/zotonic/config/1/config.d/."
  - sudo su zotonic -l -c "cd zotonic; make"
  - sudo su zotonic -l -c "cd zotonic; bin/zotonic start"

