%% -*- mode: erlang -*-

{minimum_otp_vsn, "23"}.

{erl_opts, [
    debug_info
]}.


{deps,
 [
   zotonic_core
 ]
}.

{plugins, []}.

{xref_checks, [undefined_function_calls,
               locals_not_used,
               deprecated_function_calls]}.

{project_plugins, [rebar3_ex_doc]}.
{hex, [{doc, ex_doc}]}.

