%% -*- mode: erlang -*-

{require_min_otp_vsn, "18"}.

{erl_opts, [
  {parse_transform, lager_transform},
  {platform_define, "^[0-9]+", namespaced_dicts}
]}.

{deps,
 [
  {lager, "3.2.1"},

  {cowmachine, ".*", {git, "https://github.com/zotonic/cowmachine.git", {branch, "master"}}}
 ]
}.

{plugins, []}.

{xref_checks, [undefined_function_calls,
               locals_not_used,
               deprecated_function_calls]}.
