%% -*- mode: erlang -*-

{require_min_otp_vsn, "22"}.

{erl_opts, [
    {parse_transform, lager_transform}
]}.

{deps,
 [
  {lager, "3.9.2"},
  {yamerl, "0.8.1"},
  {cowmachine, "1.6.2"}
 ]
}.

{plugins, []}.

{xref_checks, [undefined_function_calls,
               locals_not_used,
               deprecated_function_calls]}.
