%% -*- mode: erlang -*-

{require_min_otp_vsn, "22"}.

{erl_opts, [
    {parse_transform, lager_transform},
    debug_info
]}.


{deps,
 [
    {zotonic_core, "1.0.0-d0"},
    {zotonic_filewatcher, "1.0.0-d0"},
    {zotonic_fileindexer, "1.0.0-d0"},
    {zotonic_filehandler, "1.0.0-d0"},
    {zotonic_listen_http, "1.0.0-d0"},
    {zotonic_listen_smtp, "1.0.0-d0"},
    {yamerl, "0.8.1"},
    {cowmachine, "1.6.2"}
 ]
}.

{plugins, []}.

{xref_checks, [undefined_function_calls,
               locals_not_used,
               deprecated_function_calls]}.
