%% -*- mode: erlang -*-

{erl_opts, [
    {parse_transform, lager_transform},
    debug_info
]}.


{deps,
 [
    zotonic_core,
    zotonic_notifier,
    zotonic_filehandler,
    {lager, "3.9.2"}
 ]
}.

{plugins, []}.

{xref_checks, [undefined_function_calls,
               locals_not_used,
               deprecated_function_calls]}.
