%% -*- mode: erlang -*-

{erl_opts, [
    {parse_transform, lager_transform},
    debug_info
]}.


{pre_hooks, [
  {compile, "./cotonic-fetch.sh"},
  {clean, "./cotonic-clean.sh"}
]}.

{deps,
 [
    zotonic_core
 ]
}.

{plugins, []}.

{xref_checks, [undefined_function_calls,
               locals_not_used,
               deprecated_function_calls]}.
