%% -*- mode: erlang -*-

{erl_opts, [
  {parse_transform, lager_transform}
]}.

{pre_hooks, [
  {compile, "./cotonic-fetch.sh"},
  {clean, "./cotonic-clean.sh"}
]}.

{deps,
 [
    lager
 ]
}.

{plugins, []}.

{xref_checks, [undefined_function_calls,
               locals_not_used,
               deprecated_function_calls]}.
