%% -*- mode: erlang -*-

{erl_opts, [
    debug_info
]}.


{deps, [
    zotonic_filewatcher,
    zotonic_fileindexer,

    {zotonic_stdlib, "~> 1.20"},
    {erlexec, "~> 2.0"},
    {jobs, "0.10.0"},
    {buffalo, "~> 2.0"}
]}.

{plugins, []}.

{xref_checks, [undefined_function_calls,
               locals_not_used,
               deprecated_function_calls]}.

{project_plugins, [rebar3_ex_doc]}.
{hex, [{doc, ex_doc}]}.

