%% -*- mode: erlang -*-

{minimum_otp_vsn, "23"}.

{erl_opts, [
    debug_info
]}.

{deps, [
    zotonic_core,
    zotonic_mod_admin,

    {s3filez, "~> 1.4"},
    {ftpfilez, "~> 1.2"},
    {webdavfilez, "~> 1.1"},
    {filezcache, "~> 2.0"},
    {ssl_verify_fun, "~> 1.1"}
]}.

{xref_checks, [undefined_function_calls,
               locals_not_used,
               deprecated_function_calls]}.


{project_plugins, [rebar3_ex_doc]}.
{hex, [{doc, ex_doc}]}.

