% Tablet+
[
    {"base-page-main", [
        {width, 800}
    ]},
    {"base-media-preview", [
        {width, 800}
    ]},
    {"base-thumbnail", [
        {width, 400},
        {height, 400},
        {crop, center}
    ]},
    {"base-thumbnail-document", [
        {width, 400},
        {height, 400},
        {extent, true}
    ]},
    {"base-list-item-small", [
        {width, 300},
        {height, 80},
        {crop, center}
    ]},
    {"base-list-item-small-document", [
        {width, 300},
        {height, 80},
        {extent, true}
    ]}
].
