% Phone
[
    {"base-media-preview", [
        {width, 400},
        upscale
    ]},
    {"base-thumbnail", [
        {width, 200},
        {height, 200},
        {crop, center}
    ]},
    {"base-thumbnail-document", [
        {width, 200},
        {height, 200},
        {extent, true}
    ]},
    {"base-page-main", [
        {width, 400},
        {height, 200}
    ]},
    {"base-list-item-small", [
        {width, 200},
        {height, 50},
        {crop, center}
    ]},
    {"base-list-item-small-document", [
        {width, 200},
        {height, 50},
        {extent, true}
    ]}
].
