.survey-editor ul {
    min-height: 1300px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.survey-editor ul li {
    padding: 4px;
    margin-bottom: 4px;
    margin-right: 4px;
    background-color: #f8f8f8;
    cursor: hand;
    border: 1px solid #ddd;
    border-left: 5px solid #ddd;
}

.survey-editor ul li textarea {
    width: 90%;
}

.survey-info {
    color: #777;
    font-style: italic;
}

.pages, .meta-data {
    margin-top: 2em;
}

ol.pages {
    counter-reset:pages;

    > li {
        position: relative;
        list-style: none;

        &:before  {
            content: counter(pages);
            counter-increment: pages;
            padding-right: 0.5em;
            position: absolute;
            left: -0.5em;
            color: #0F93D5;
            font-size: 3em;
        }
    }
}

.meta-data .buttons {
    margin-right: 10px;
}

.page-header {
    cursor: move;
    border-color: #0F93D5;
    border-width: 3px;
}

.page-header:hover {
    background-color: #eee;
}

.jump-list {
    padding: 0.5em;
    margin-left: 12px;
    // min-height: 2em;
    list-style: none;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;

    .page-jump {
        background-color: #fcfcfc;

        display: -ms-grid;
        -ms-grid-columns: auto 1fr;
        -ms-grid-rows: auto;

        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto;

        > .drag-handle {
            -ms-grid-column: 1;
            -ms-grid-row: 1;

            grid-column: 1;
            grid-row-start: 1;

            cursor: move;
            background: repeat-y url("/lib/images/grippy2.png") 3px 0;
            padding: 15px;
            cursor: drag;
        }

        > .page-jump-details {
            -ms-grid-column: 2;
            -ms-grid-row: 1;

            grid-column: 2;
            grid-row-start: 1;

        }
    }
}

.question-list {
    padding: 0.5em 0;
    min-height: 2em;
    list-style: none;
    border-bottom: 1px solid #eee;
    min-height: 4em;

    > li.block {
        position: relative;

        display: -ms-grid;
        -ms-grid-columns: auto 1fr auto;
        -ms-grid-rows: auto 1fr;

        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-template-rows: auto 1fr;

        margin-bottom: 10px;
        background-color: white;

        > .drag-handle {
            -ms-grid-column: 1;
            -ms-grid-row: 1;
            -ms-grid-row-span: 3;

            grid-column: 1;
            grid-row-start: 1;
            grid-row-end: 3;

            cursor: move;
            background: repeat-y url("/lib/images/grippy2.png") 3px 0;
            padding: 15px;
            cursor: drag;
        }

        > .row {
            -ms-grid-column: 2;
            -ms-grid-column-span: 3;
            -ms-grid-row: 1;
            grid-column: 2 / 4;
            grid-row: 1;

            padding-left: 0;
        }

        > .actions {
            -ms-grid-column: 3;
            -ms-grid-row: 2;
            grid-column: 3;
            grid-row: 2;

            padding: 0 2px 2px 0;
        }
    }
}

label.block-type {
    padding: 4px;
    color: #ccc;
}

.hide-expanded .view-expanded {
    display: none;
}

#survey .shortanswer input,
#survey-qs .shortanswer input {
    width: 90%;
}

#survey-qs li {
    font-size: 80%;
}

#survey li {
    background-color: #f8f8f8;
    border-left-width: 1px;
}

.dialog-content #survey-question form {
    p {
        margin: 0;
    }

    div {
        margin: 0 0 18px;
    }
}

#modal-question {
    margin-top: 0;
    top: 10px;
}

#modal-question .hover {
    background-color: #f8f8ff;
}

#modal-question .col-md-4 {
    min-height: 5em;
    cursor: pointer;
}

#modal-question .col-md-4 input,
#modal-question .col-md-4 textarea,
#modal-question .col-md-4 select {
    cursor: pointer;
}
