body {
    background-color: white;
}

div.document {
    max-width: 1200px;
    margin: auto;
}

div.note {
    background-color: #FFFFCC;
    border: 0;
}

div.body h1, div.body h2, div.body h3,
div.body h4, div.body h5, div.body h6 {
    background: inherit;
}