{require_min_otp_vsn, "19"}.

{erl_opts, [
    {parse_transform, lager_transform},

    %% OTP version specific defines
    {platform_define, "^(19|2)", rand_only},
    {platform_define, "^(R|1|20)", fun_stacktrace}
]}.

{deps, [
    {lager, "3.6.10"},
    {depcache, "1.5.0"},
    {exometer_core, "1.4.0"},
    {bert, "0.1.0"},
    {dh_date, "1.0.0"},
    {poolboy, "1.5.1"},
    {epgsql, "3.1.1"},
    {erlware_commons, "1.3.1"},
    {erlang_localtime, "1.0.0"},
    {gproc, "0.8.0"},
    {parse_trans, "3.3.0"},
    {proper, "1.2.0"},
    {recon, "2.4.0"},
    {meck, "0.8.13"},
    {edown, "0.8.1"},
    {shotgun, "0.3.0"},
    {bcrypt, "1.0.2"},
    {diffy, "1.0.0"},
    {eiconv, "1.0.0"},
    {erlpass, "1.0.4"},
    {gen_smtp, "0.13.0"},
    {mimetypes, "1.1.0"},
    {mochiweb, "2.18.0"},
    {jsx, "2.9.0"},
    {jsxrecord, "1.0.2"},
    {sidejob, "2.1.0"},
    {jobs, "0.9.0"},
    {filezcache, "1.0.0"},

%    {zotonic_stdlib, "1.0.0"},
    {zotonic_stdlib, {git, "https://github.com/zotonic/z_stdlib.git", {branch, "master"}}},
    {dispatch_compiler, "1.0.0-alpha1"},
%    {template_compiler, "1.0.0-alpha8"},
    {template_compiler, {git, "https://github.com/zotonic/template_compiler.git", {branch, "master"}}},
%    {cowmachine, "1.0.2"},
    {cowmachine, {git, "https://github.com/zotonic/cowmachine.git", {branch, "master"}}},

    {mqtt_sessions, {git, "https://github.com/zotonic/mqtt_sessions.git", {branch, "master"}}},

    {s3filez, {git, "https://github.com/mworrell/s3filez.git", {branch, "master"}}},
    {qdate, {git, "https://github.com/choptastic/qdate.git", {branch, "master"}}},
    {exif, {git, "https://github.com/nlfiedler/erlang-exif.git", {branch, "master"}}},
    {twerl, {git, "https://github.com/mworrell/twerl.git", {branch, "refactoring"}}},
    {syslog, {git, "https://github.com/Vagabond/erlang-syslog.git", {branch, "master"}}},
    {oauth, ".*", {git, "https://github.com/tim/erlang-oauth.git", {tag, "v1.6.0"}}},
    {keyserver, ".*", {git, "https://github.com/channelme/keyserver.git", {branch, "master"}}}
]}.

{plugins, [pc]}.

{overrides, [
    {override, syslog, [
        {plugins, [pc]},
        {artifacts, ["priv/syslog_drv.so"]},
        {provider_hooks, [
            {post, [
                {compile, {pc, compile}},
                {clean, {pc, clean}}
            ]}
        ]}
    ]}
]}.

{xref_checks, [
    undefined_function_calls,
    locals_not_used,
    deprecated_function_calls
]}.
