{require_min_otp_vsn, "19"}.

{erl_opts, [
    {parse_transform, lager_transform},
    {platform_define, "^[0-9]+", namespaced_dicts}
]}.

{deps, [
    {lager, "3.2.1"},
    {depcache, "1.4.0"},
    {exometer_core, "1.4.0"},
    {bert, "0.1.0"},
    {dh_date, "1.0.0"},
    {poolboy, "1.5.1"},
    {epgsql, "3.1.1"},
    {erlware_commons, "1.0.0"},
    {erlang_localtime, "1.0.0"},
    {gproc, "0.5.0"},
    {parse_trans, "3.0.0"},
    {proper, "1.2.0"},
    {recon, "2.3.1"},
    {meck, "0.8.4"},
    {edown, "0.8.1"},
    {shotgun, "0.3.0"},
    {bcrypt, "1.0.0"},
    {diffy, "1.0.0"},
    {eiconv, "1.0.0-alpha1"},
    {erlpass, "1.0.4"},
    {gen_smtp, "0.12.0"},
    {mimetypes, "1.1.0"},
    {mochiweb, "2.15.0"},
    {jsx, "2.8.2"},
    {zotonic_stdlib, "1.0.0-alpha3"},
    {dispatch_compiler, "1.0.0-alpha1"},
    {template_compiler, "1.0.0-alpha7"},
    {sidejob, "2.1.0"},
    {jobs, "0.6.0"},

    {filezcache, {git, "https://github.com/mworrell/filezcache.git", {branch, "master"}}},
    {s3filez, {git, "https://github.com/mworrell/s3filez.git", {branch, "master"}}},
    {emqtt, {git, "https://github.com/zotonic/emqtt.git", {branch, "zotonic"}}},
    {qdate, {git, "https://github.com/choptastic/qdate.git", {branch, "master"}}},
    {exif, {git, "https://github.com/nlfiedler/erlang-exif.git", {branch, "master"}}},
    {twerl, {git, "https://github.com/mworrell/twerl.git", {branch, "refactoring"}}},
    {syslog, {git, "https://github.com/Vagabond/erlang-syslog.git", {branch, "master"}}},
    {cowmachine, {git, "https://github.com/zotonic/cowmachine.git", {branch, "master"}}},
    {oauth, ".*", {git, "https://github.com/tim/erlang-oauth.git", {tag, "v1.6.0"}}},

    % Lock letsencrypt whilst debugging on that branch
    % {letsencrypt, {git, "https://github.com/zotonic/letsencrypt-erlang.git", {branch, "multi-server"}}},
    {letsencrypt, {git, "https://github.com/zotonic/letsencrypt-erlang.git", {ref, "9eb5ff98a6261cc379a6b7d3a4df04086aa4e342"}}}
]}.

{plugins, [pc]}.

{overrides, [
    {override, syslog, [
        {plugins, [pc]},
        {artifacts, ["priv/syslog_drv.so"]},
        {provider_hooks, [
            {post, [
                {compile, {pc, compile}},
                {clean, {pc, clean}}
            ]}
        ]}
    ]}
]}.

{xref_checks, [
    undefined_function_calls,
    locals_not_used,
    deprecated_function_calls
]}.
