.search-view-results .active {
    background: #ccc;
}

.search-view-results .list-item {
    margin: 0;
}

.search-view-results li {
    padding: 25px 12px;
    margin: 0;
    background: #fff;
}

.search-view-results {
    width: 100%;
    position: absolute;
    z-index: 5;
    padding-right: 2rem;
}

.search-view-results li.search-view-list-item a {
    color: #1683b1;
}

.search-view-results li.search-view-list-item a:hover {
    color: #1ca5de;
}

.search-view-results li:hover {
    cursor: pointer;
}

.search-view-results .float-right {
    float: right;
}

.search-view-results img {
    vertical-align: middle;
    height: 35px;
    width: 35px;
}

.search-view-results .glyphicon {
    vertical-align: middle;
    font-size: 35px;
}
