%% -*- mode: erlang -*-

%% Adapted version of apps/zotonic_launcher/priv/config/erlang.config.in
%% - Paths are set to /opt/zotonic/priv/...

[

 {exometer_core, [{predefined, [
    {[erlang, memory], {function, erlang, memory, [], value, []}, []},
    {[erlang, system_info], {function, erlang, system_info, ['$dp'], value, [process_count]}, []},
    {[erlang, statistics], {function, erlang, statistics, ['$dp'], value, [run_queue]}, []},
    {[erlang, io], {function, erlang, statistics, [io], match, {{'_', input}, {'_', output}}}, []}
   ]}
 ]},

 % ZOTONIC_DATA_DIR is mapped to docker-data/data
 % ZOTONIC_LOG_DIR is mapped to docker-data/logs

 {kernel, [
    {logger_level, notice},
    {logger, [
        {handler, default, logger_std_h,
            #{
                level => debug,
                formatter => {logjam,
                    #{
                      colored => true,
                      time_designator => $\s,
                      time_offset => "",
                      time_unit => second,
                      strip_tz => true,
                      level_capitalize => true
                    }
                }
            }
        },

        {handler, error_log, logger_std_h,
            #{
                level => error,
                config => #{
                    type => file,
                    file => "logs/error.log",
                    max_no_files => 10,
                    max_no_bytes => 52428800 % 10 x 5mb
                },
                formatter => {logjam,
                    #{
                        colored => false,
                        time_designator => $\s,
                        time_offset => "",
                        time_unit => second,
                        strip_tz => true,
                        level_capitalize => true
                    }
                }
            }
        },

        {handler, console_log, logger_std_h,
            #{
                level => debug,
                config => #{
                    type => file,
                    file => "logs/console.log",
                    max_no_files => 10,
                    max_no_bytes => 52428800 % 10 x 5mb
                },
                formatter => {logjam,
                    #{
                        colored => false,
                        time_designator => $\s,
                        time_offset => "",
                        time_unit => second,
                        strip_tz => true,
                        level_capitalize => true
                    }
                }
            }
        }
    ]}
 ]},

 {lager, [
    {handlers, [
      {lager_console_backend, [
        {level, info},
        {formatter, lager_default_formatter},
        {formatter_config, [time, color, " [", severity, "] ", {site, [site, " "], ""}, {module, [module, ":", line, " "], ""}, message, "\n"]}
      ]},
      {lager_file_backend, [
        {file, "error.log"},
        {level, error},
        {formatter, lager_default_formatter},
        {formatter_config, [date, " ", time, " [", severity, "] ", {site, [site, " "], ""}, {pid, ""}, {module, [{pid, ["@"], ""}, module, {function, [":", function], ""}, {line, [":", line], ""}], ""}, " ", message, "\n"] }
      ]},
      {lager_file_backend, [
        {file, "console.log"},
        {level, info},
        {formatter, lager_default_formatter},
        {formatter_config, [date, " ", time, " [", severity, "] ", {site, [site, " "], ""}, {pid, ""}, {module, [{pid, ["@"], ""}, module, {function, [":", function], ""}, {line, [":", line], ""}], ""}, " ", message, "\n"] }
      ]}
    ]},
    {crash_log, "crash.log"}
  ]},

 {ssl, [
   %%% The number of maximum number of ssl sessions cached by the server. Increase if you
   %%% of a lot of incoming connections.
   {session_cache_server_max, 20000},

   %%% The maximum time the client side information is stored in the cache (in seconds)
   {session_lifetime, 300}
 ]}

].
