%% This file is copied to /etc/zotonic/config.d/
%% Settings below overrule settings in /etc/zotonic/zotonic.config.
%% Which is copied from apps/zotonic_launcher/priv/config/zotonic.config.in
%% The wwwadmin password is set by passing ZOTONIC_PASSWORD to docker
[
    {zotonic, [
        {dbhost, "postgres"},
        {password, ""}
    ]}
].
