%% This file is copied to docker-data/etc-zotonic/config.d/
%% All settings below overrule the settings in docker-data/etc-zotonic/zotonic.config.
%% Which is copied from apps/zotonic_launcher/priv/config/zotonic.config.in
[
    {zotonic, [
        {environment, development},

        % Connect to the postgres container
        {dbhost, "postgres"},
        {dbuser, "zotonic"},
        {dbpassword, "zotonic"},
        {dbdatabase, "zotonic"}
    ]}
].
