[
    % Used for image links in the head meta tags.
    % For proposed dimensions, see: https://developers.facebook.com/docs/sharing/webmasters/images
    {"meta-tag-image", [
        {width, 1200},
        {height, 630},
        crop
    ]},

    % Used for schema.org metadata
    {"schema-org-image", [
        {width, 1024},
        {height, 800},
        crop
    ]},
    {"schema-org-logo", [
        {height, 60},
        crop,
        {lossless, auto}
    ]}
].
