
{erl_opts, [
    {parse_transform, lager_transform},

    %% OTP version specific defines
    {platform_define, "^(19|2)", rand_only},
    {platform_define, "^(R|1|20)", fun_stacktrace}
]}.

{xref_checks, [
    undefined_function_calls,
    locals_not_used,
    deprecated_function_calls
]}.

{deps, [
    % Lock letsencrypt whilst debugging on that branch
    % {letsencrypt, {git, "https://github.com/zotonic/letsencrypt-erlang.git", {branch, "multi-server"}}},
    {letsencrypt, {git, "https://github.com/zotonic/letsencrypt-erlang.git", {ref, "2f5d6fce1f5829774abfcca7daa1aef054235522"}}}
]}.
