%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et
{provider_hooks, [{post, [{compile, escriptize}]}]}.

{deps, [getopt, {yamerl, "0.7.0"}]}.

{post_hooks, [{"(linux|darwin|solaris|freebsd|netbsd|openbsd)",
               escriptize,
               "cp \"$REBAR_BUILD_DIR/bin/zotonic_system\" ./bin/zotonic_system"},
              {"win32",
               escriptize,
               "robocopy \"%REBAR_BUILD_DIR%/bin/\" ./bin zotonic_system* "
               "/njs /njh /nfl /ndl & exit /b 0"} % silence things
             ]}.

{escript_name, zotonic_system}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

{escript_incl_extra, [{"zotonic_system/priv/**", "_build/default/lib/"}]}.

{edoc_opts, [preprocess]}.
