[
    {"body-media-large", [
        {width, 1200},
        {height, 600}
    ]},
    {"body-media-medium", [
        {width, 600},
        {height, 300}
    ]},
    {"body-media-small", [
        {width, 300},
        {height, 200}
    ]},

    % Used for the rsc model thumbnail_url property
    {"thumbnail", [
        {width, 400},
        {height, 400},
        crop
    ]},

    % Used for the rsc model image_url property
    {"image", [
        {width, 1200},
        {height, 1000}
    ]}
].
