%% -*- mode: erlang -*-

{require_min_otp_vsn, "22"}.

{erl_opts, [
    {parse_transform, lager_transform},
    debug_info
]}.


{deps,
 [
    {zotonic_core, "1.0.0-d0"},
    {gen_smtp, "1.1.1"}
 ]
}.

{plugins, []}.

{xref_checks, [undefined_function_calls,
               locals_not_used,
               deprecated_function_calls]}.
