{minimum_otp_vsn, "23"}.

{erl_opts, [
    debug_info
]}.

% Below will be a list of all applications inside the Zotonic umbrella application.
{deps, [
zotonic_core,
zotonic_filehandler,
zotonic_fileindexer,
zotonic_filewatcher,
zotonic_launcher,
zotonic_listen_http,
zotonic_listen_mqtt,
zotonic_listen_smtp,
zotonic_mod_acl_user_groups,
zotonic_mod_admin,
zotonic_mod_admin_category,
zotonic_mod_admin_config,
zotonic_mod_admin_frontend,
zotonic_mod_admin_identity,
zotonic_mod_admin_merge,
zotonic_mod_admin_modules,
zotonic_mod_admin_predicate,
zotonic_mod_admin_statistics,
zotonic_mod_artwork,
zotonic_mod_audio,
zotonic_mod_auth2fa,
zotonic_mod_authentication,
zotonic_mod_backup,
zotonic_mod_base,
zotonic_mod_bootstrap,
zotonic_mod_clamav,
zotonic_mod_comment,
zotonic_mod_contact,
zotonic_mod_content_groups,
zotonic_mod_cookie_consent,
zotonic_mod_copyright,
zotonic_mod_cron,
zotonic_mod_custom_redirect,
zotonic_mod_development,
zotonic_mod_editor_tinymce,
zotonic_mod_email_dkim,
zotonic_mod_email_receive,
zotonic_mod_email_relay,
zotonic_mod_email_status,
zotonic_mod_export,
zotonic_mod_facebook,
zotonic_mod_filestore,
zotonic_mod_fileuploader,
zotonic_mod_geoip,
zotonic_mod_image_edit,
zotonic_mod_import_csv,
zotonic_mod_import_wordpress,
zotonic_mod_l10n,
zotonic_mod_linkedin,
zotonic_mod_logging,
zotonic_mod_mailinglist,
zotonic_mod_media_exif,
zotonic_mod_menu,
zotonic_mod_microsoft,
zotonic_mod_mqtt,
zotonic_mod_oauth2,
zotonic_mod_oembed,
zotonic_mod_ratelimit,
zotonic_mod_search,
zotonic_mod_seo,
zotonic_mod_seo_sitemap,
zotonic_mod_server_storage,
zotonic_mod_signup,
zotonic_mod_site_update,
zotonic_mod_ssl_ca,
zotonic_mod_ssl_letsencrypt,
zotonic_mod_survey,
zotonic_mod_syslog,
zotonic_mod_tkvstore,
zotonic_mod_translation,
zotonic_mod_video,
zotonic_mod_video_embed,
zotonic_mod_wires,
zotonic_mod_zotonic_site_management,
zotonic_notifier,
zotonic_site_status
]}.

{xref_checks, [
    undefined_function_calls,
    locals_not_used,
    deprecated_function_calls
]}.

{project_plugins, [rebar3_ex_doc]}.
{hex, [{doc, ex_doc}]}.
