.block-add-block {
    display: block;
    margin: 0 auto $baseMargin auto;
    width: fit-content;
    position: relative;

    .dropdown-menu {
        top: auto;
    }
}

ul.blocks.ui-sortable {
    padding: 0;
    margin: 0;

    > li {
        list-style-type: none;
        margin-left: 0;
    }

    .ui-sortable-placeholder {
        @extend .z-drag-drop-placeholder;
    }

    .widget-header {
        position: relative;
    }

    .form-control.block-name {
        background-color: transparent;
        margin: 0 0 10px 0;

        &:focus {
            background-color: #fff;
        }
    }

    > li {
        > .widget {
            display: grid;
            grid-template-columns: auto 1fr;
            grid-template-rows: auto 1fr;

            > .drag-handle {
                grid-column: 1;
                grid-row-start: 1;
                grid-row-end: 3;

                padding: 10px;
            }

            > .widget-header {
                grid-column: 2;
                grid-row: 1;

                padding-left: 5px;
            }

            > .widget {
                grid-column: 2;
                grid-row: 2;
            }
        }
    }

}
