@media (min-width: 720px) {
    .modal-dialog {
        min-width: 700px;
    }
}

div.modal {
    div.tab-content {
        overflow: visible;
    }
    .nav.nav-pills {
        margin: -15px -15px 15px -15px;
        padding: 0 15px;
    }
    .modal-body {
        > :first-child:not(.nav) {
            margin-top: 0;
        }
    }
    .modal-footer {
        font-size: 0;

        .pull-left {
            margin-left: 0;
        }

        &.sticky-bottom {
             position: sticky;
             bottom: 0;
             background-color: rgba(255, 255, 255, 0.9);
        }
    }
}