.navbar {
    --bs-navbar-active-color: white;

    min-height: 4rem;
    padding: 0;
    background-color: $brand-primary;


    .navbar-brand,
    .navbar-collapse > ul > li > a {
        color: #fff;
    }

    .fa-solid {
        margin-right: 5px;
    }

    .nav-item > a {
        padding: 1em 0.9em;
    }

    .navbar-brand {
        font-size: 15px;
        line-height: 15px;
        padding: 17px 15px;

        .zotonic-logo {
            height: 15px;
            width: 87px;
            text-shadow: $lightOnDarkTextShadow;
        }
    }

	.navbar-collapse {
        padding-bottom: 2rem;
		background-color: $brand-primary;
	}
}

.navbar-form {
    .form-control {
        width: 9em;
        transition: width 200ms lineair;
        color: white;
        padding-left: 4px;
        padding-right: 4px;
        background-color: inherit;
        border: none;
        border-bottom: 1px solid white;

        &::placeholder {
            color: white;
        }

        &.search-query:focus {
            width: 100%;
            background-color: rgba(255,255,255,0.95);
            color: #222;

            &::placeholder {
                color: #666;
            }
        }
    }
}


@media (min-width: $breakpointMediumMaxWidth) {
    .navbar {
        --bs-navbar-nav-link-padding-x: 15px;

        min-height: auto;

        .navbar-collapse {
            padding-bottom: 0;
        }
    }

    .navbar-form {
        .search-query:focus {
            width: 90vw;
            max-width: 500px;
            position: absolute;
            top: 10px;
            right: 0;
            z-index: 100;
            background-color: rgba(255,255,255,0.95);
            color: #222;
        }
    }
}
