ul.suggestions-list {
    margin: 0; padding: 0;
    list-style-type: none;
}
ul.suggestions-list li a {
    display: block;
    background-image: var(--z-admin-suggestions-bg);
    border: 1px solid var(--z-admin-suggestions-border-color);
    border-radius: $radiusBlockElement;
    margin-bottom: -1px;
    padding: 2px 4px;
}

ul.suggestions-list li a .pull-right {
    color: var(--z-admin-text-muted);
}

ul.suggestions-list li a:hover span.pull-right,
ul.suggestions-list li a:hover {
    color: var(--z-admin-suggestions-active-color);
    background: var(--z-admin-suggestions-active-bg);
    text-decoration: none;
}
