// use smaller grid gutter
// $_thumbnail_gutter: 6px;

.connect-results {
    max-height: 400px;
    margin-top: $baseMargin;
    padding: 10px 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.thumbnails {
    // list-style: none;
    // padding: 0;
    // @include clearfix;
    
    // [class*="col-"] {
    //     padding-left: $_thumbnail_gutter;
    //     padding-right: $_thumbnail_gutter;
    // }

    // .thumbnail {
    //     $_padding: 5px;
    //     $_contentPartMargin: 0.25em;
    //     $_contentHeight: $thumbImageHeight; // 60
    //     $_heigth: calc(($_contentHeight + 2px) * (5 + 2)); // add border
    //     $_contentMargin: calc(1.5 * $_padding);
    //     $_fontSize: 12px;
    //     $_lineHeight: 1.1em;
        
    //     min-height: $_heigth;
    //     max-height: $_heigth;
    //     overflow: hidden;    
    //     border-radius: 2px;
    //     box-shadow: none;
    //     cursor: pointer;
    //     margin-bottom: calc(2 * $_thumbnail_gutter);
    //     padding: $_padding;
    //     font-size: $_fontSize;
    //     line-height: $_lineHeight;
    //     position: relative;
    //     transition-duration: 0;
    //     -webkit-transition-duration: 0;
        
    //     &,
    //     a:link, 
    //     a:visited {
    //         color: $textColorDark;
    //     }
        
    //     &:hover {
    //         border-color: $borderColorSelection;
    //     }
        
    //     // fade out thumbnails that are connected to the page
    //     // except when it is a depiction predicate
    //     &.thumbnail-connected:not(.thumbnail-depiction) {
    //         background-color: $backgroundColorLightest;

    //         &,
    //         h5, h6,
    //         a:link, 
    //         a:visited {
    //             color: $textColorLight;
    //         }

    //         img {
    //             opacity: .3;
    //         }
    //     }
        
    //     .z-thumbnail-text {
    //         $_content_height: calc(($_heigth - 2px) * (5 - 2)); // subtract border too

    //         position: absolute;
    //         left: $_padding;
    //         top: $_padding;
    //         margin-right: $_padding;
    //         height: $_content_height;
    //         max-height: $_content_height;
    //         overflow: hidden;
    //     }
        
    //     img + .z-thumbnail-text {
    //         left: calc($_padding + $thumbImageWidth + $_contentMargin);
    //     }
        
    //     img {
    //         padding: 0;
    //         border-radius: 0;
    //         box-shadow: none;
    //         margin: 0 $_contentMargin 0 0;
    //     }
        
    //     h5, h6, p {
    //         font-size: $_fontSize;
    //         line-height: $_lineHeight;
    //         font-weight: normal;
    //         margin: 0;
    //     }

    //     h5, h6 {
    //         @extend .admin-word-break;
    //     }

    //     h5 {
    //         font-weight: bold;
    //         margin-bottom: 2px;
    //     }

    //     h6 {
    //         text-transform: lowercase;
    //     }

    //     p {
    //         max-height: calc(2 * $_lineHeight);
    //         overflow: hidden;
    //     }
    // }
}

.thumbnails {
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    padding-right: calc(var(--bs-gutter-x) * 0.5);

    .row {
        --bs-gutter-x: 0.5rem;
    }
}

.thumbnail {
    width: 100%;
    height: 80px;
    padding: 5px;
    margin-bottom: 0.5rem;
    background: white;
    font-size: 12px;
    text-align: left;
    border: var(--bs-modal-header-border-width) solid var(--bs-modal-header-border-color);

    h5, h6 {
        @extend .admin-word-break;
    }

    h5, h6, p {
        font-size: inherit;
        line-height: 1.1;
        font-weight: normal;
        margin: 0;
    }

    h5 {
        font-weight: bold;
    }

    h6 {
        margin-bottom: 3px;
        font-size: 0.9em;
        // text-transform: uppercase;
    }

    .rsc-actions {
        margin-top: 5px;
        float: right;
    }
}

.item.thumbnail {
    height: auto;

    .z-thumbnail-text {
        height: inherit;
    }
}

.z-thumbnail-image {
    flex-shrink: 0;
    width: 68px;
    height: 68px;
    margin-right: 5px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.z-thumbnail-text {
    width: 100%;
    height: 68px;
    overflow: hidden;
}

.z-thumbnail-max {
    width: auto;
    height: auto;
}