ul.tree-list {
    li.menu-item {
        > div {
            background-color: #fefefe;

            > a {
                color: $textColorMedium;

                &:hover {
                    color: #textColorDark;
                    text-decoration: none;
                }
            }
        }

        ul {
            li:first-child {
                margin-top: 1px;
            }
            li:last-child {
                margin-bottom: 2px;
            }
        }
    }

    li.menu-item + li.menu-item {
        margin-top: -1px;
    }

    &.categories {
        padding-bottom: 40px;
    }
    &.categories,
    &.tree-list-menu {
        li.menu-item {
            span.category {
                display: none;
            }
        }
    }
}

ul.tree-list.connections-list {
    min-height: 12px;

    li.menu-item > div {
        overflow: hidden;
    }

    li.menu-item-alert {
        padding: 10px;
        text-align: center;
    }
}