%% Configuration of the test sandbox, used for unit testing.
%% The testsandbox is only started for testing and ignored otherwise.
[
    {enabled, true},

    %% Use the development environment, this ensures that http fetch requests
    %% are accepting self signed certs (insecure option)
    {environment, development},

    %% Atomic hostname, MUST be equal to the directory name of this site.
    {site, zotonic_site_testsandbox},

    %% Hostname for the test sandbox. Do NOT change this! It will break the tests.
    {hostname, "localhost"},

    {hostalias, [
        "testsandbox.test",
        "sandbox.test"
    ]},

    {dbschema, "testsandbox"},
    {dbdropschema, true},

    %% Admin password, used during installation. You can change it later
    {admin_password, "admin"},

    {modules, [
        testsandbox,

        mod_cron,
        mod_base,
        mod_bootstrap,
        mod_menu,
        mod_oauth2,
        mod_search,
        mod_logging,

        mod_wires,
        mod_mqtt,

        mod_translation,
        mod_l10n,

        mod_server_storage,

        mod_authentication,
        mod_content_groups,
        mod_acl_user_groups,
        mod_ratelimit,
        mod_auth2fa,
        mod_oauth2,

        mod_editor_tinymce,

        mod_admin,
        mod_admin_category,
        mod_admin_config,
        mod_admin_identity,
        mod_admin_modules,
        mod_admin_predicate,
        mod_admin_merge,

        mod_seo,
        mod_seo_sitemap,

        mod_email_status,
        mod_email_receive,

        mod_media_exif,
        mod_video_embed,
        mod_video,
        mod_oembed,

        mod_backup,
        mod_export,
        mod_survey,
        mod_mailinglist,
        mod_development,
        mod_import_csv,
        mod_comment,

        mod_base_site
    ]}
].
