%% Configuration of the test sandbox, used for unit testing.
%% The testsandbox is only started for testing and ignored otherwise.
[
    {enabled, true},

    %% Atomic hostname, MUST be equal to the directory name of this site.
    {site, zotonic_site_testsandbox},

    %% Hostname for the test sandbox. Do NOT change this! It will break the tests.
    {hostname, "localhost"},

    {dbschema, "testsandbox"},
    {skeleton, empty},

    %% Admin password, used during installation. You can change it later
    {admin_password, "admin"},

    {modules,
    [
        testsandbox,
        mod_base,
        mod_mqtt,
        mod_search,
        mod_acl_mock,
        mod_admin,
        mod_oauth
    ]}
].
