% See also lib/css/zotonic-admin.css, where the sizes are copied.
[
    {"admin-list-dashboard", [
        {width, 32},
        {height, 24},
        {crop, center}
    ]},
    
    {"admin-leader-image", [
        {width, 64},
        {height, 48},
        {crop, center}
    ]},
    
    {"admin-list-overview", [
        {width, 80},
        {height, 60},
        {crop, center},
        {quality, 75}
    ]},
    
    {"admin-rsc-edge-media", [
        {width, 190},
        {height, 190},
        extent
    ]},
    
    {"admin-media", [
        {width, 597},
        {height, 597},
        {quality, 75}
    ]},
    {"admin-media-cropcenter", [
        {quality, 75}
    ]},
    
    {"admin-editor", [
        {width, 540},
        {height, 540}
    ]}
].
