% See also lib/css/zotonic-admin.css, where the sizes are copied.
[
    {"admin-list-dashboard", [
        {width, 40},
        {height, 18},
        {crop, center}
    ]},
    
    {"admin-list-overview", [
        {width, 80},
        {height, 60},
        {crop, center}
    ]},
    
    {"admin-rsc-edge-media", [
        {width, 166},
        {height, 200},
        extent
    ]}
].
