%% -*- mode: erlang -*-

{require_min_otp_vsn, "21"}.

{erl_opts, [
    {parse_transform, lager_transform},

    %% OTP version specific defines
    {platform_define, "^(19|2)", rand_only},
    {platform_define, "^(R|1|20)", fun_stacktrace}
]}.

{deps,
 [
  {lager, "3.6.10"},
  {ringbuffer, "1.0.0"}
 ]
}.

{plugins, []}.

{xref_checks, [undefined_function_calls,
               locals_not_used,
               deprecated_function_calls]}.
